body {
    /* background-image: url('images\wallpaperflare.com_wallpaper.jpg'); */
    background-color: bisque;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
  }
#portfolio {
    height:50vh;
    font-size: 3rem;
    font-size: 1.5rem;
    text-align: center;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}