.navbarScroll.navbarDark {
    background-color: rgb(102, 96, 96);
}
.bgimage {
    height:50vh;
    background: url('Images/man.jpg');
    background-size:cover;
    position:relative;
    padding-top: 100px;
    padding-bottom: 20px;
}
.hero_title {
    font-size: 3rem;
}
.hero_desc {
    font-size: 1.5rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(12, 11, 11);
    /* border: 5px solid rgb(49, 27, 27);
    background-color: rgb(155, 114, 67);
} */
}